body {
  min-height: 100vh;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
}

body > input[type="radio"],
body > input[type="checkbox"] {
  display: none;
}

.site-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #849d8f;
  background-image: url("../img/slide--1.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  -o-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide--2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide--3.png");
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="submit"] {
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.entry-btn:hover,
.basket__btn:hover,
.slide__btn:hover,
.banner__btn:hover,
.good__btn:hover,
.newsletter__btn:hover,
.address__btn:hover,
.feedback__submit:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background:         -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.entry-btn:active,
.basket__btn:active,
.slide__btn:active,
.banner__btn:active,
.good__btn:active,
.newsletter__btn:active,
.address__btn:active,
.feedback__submit:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background:         -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.password-link:hover,
.password-link:active,
.signin-link:hover,
.signin-link:active,
.blog__title a:hover,
.blog__title a:active,
.basket__text:hover,
.basket__text:active {
  color: #e84d37;
  border-color: #e84d37;
}

.good__title a:hover,
.good__title a:active,
.footer-info__link:hover,
.footer-info__link:active,
.main-timetable__tel:hover,
.main-timetable__tel:active,
.footer-info__link:hover,
.footer-info__link:active,
.footer-author__link:hover,
.footer-author__link:active,
.breadcrumbs__link:hover,
.breadcrumbs__link:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}


/*PAGE index.html*/

.main-logo {
  display: inline-block;
  width: 154px;
}

.main-header {
  padding-top: 9px;
}

.main-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__link {
  max-height: 64px;
}

.navigation {
  width: 708px;
  padding-top: 14px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation__item {
  position: relative;
}

.navigation__btn {
  border: none;
  background-color: inherit;
  color: #fff;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.navigation__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.navigation__btn::after,
.navigation__link::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation__link:hover,
.navigation__btn:hover {
  background-color: #fff;
  padding: 7px 13px;
  border: none;
  color: #000;
  border-radius: 20px;
}

.navigation__link:active,
.navigation__btn:active {
  background-color: #fff;
  padding: 7px 13px;
  border: none;
  color: #000;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.menu {
  display: none;
  position: absolute;
  content: '';
  top: 32px;
  left: -8px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navigation__list ul li:first-child {
  padding-top: 5px;
  background-color: transparent;
}

.menu__link {
  display: block;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  white-space: nowrap;
  padding: 9px 20px;
  background-color: #fff;
}

.menu__item:nth-child(1) .menu__link  {
  border-radius: 5px 5px 0 0;
}

.menu__item:nth-child(5) .menu__link  {
  border-radius:  0 0 5px 5px;
}

.menu__link:hover {
  background-color: #fbded7;
}

.menu__link:active {
  background-color: #f6b5a5;
}

.menu__item:first-child:hover,
.menu__item:first-child:active {
  border-radius: 5px 5px 0 0;
}

.menu__item:last-child:hover,
.menu__item:last-child:active {
  border-radius:  0 0 5px 5px;
}

.menu__item:active {
  background-color: #ead8d2;
}

.menu__item:nth-child(1) {
  position: relative;
}

.menu__item:nth-child(1)::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 90%;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(50, 50, 50, 0.2);
}

.menu__item:nth-child(1) .menu__link {
  font-weight: inherit;
}

.navigation__btn:hover + .menu {
  display: block;
}

.menu:hover {
  display: block;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
}

.navigation__list .navigation__item:hover .navigation__btn {
  background-color: #fff;
  padding: 7px 13px;
  border: none;
  color: #000;
  border-radius: 20px;
}

.user-block__element {
  position: relative;
  display: inline-block;
}

.user-block__element:not(:last-child) {
  margin-right: 10px;
}

.user-block__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.user-block__link:hover{
  background-color: #fff;
  color: #000;
}

.user-block__link--entry,
.user-block__link--full-basket {
  padding-left: 30px;
}

.user-block__search-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__search  {
  display: none;
  position: absolute;
  top: 33px;
  left: -307px;
  width: 339px;
  padding-top: 5px;
  background-color: transparent;
}

.user-block__link--search:hover + .user-block__search {
  display: block;
}

.user-block__search:hover {
  display: block;
}

.user-block__search-form .user-block__wrapper {
  position: relative;
  padding: 20px 15px;
}

input[name="search"] {
  display: block;
  width: 285px;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid #d3d3d2;
}

.user-block__link--search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/loupe.svg") no-repeat 50% 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__element:hover .user-block__link--search {
  background: #fff url("../img/loupe-hover.svg") no-repeat 50% 50%;
}

.user-block__link--entry {
  width: 92px;
  height: 32px;
  border-radius: 15px;
  background: url("../img/entrance-white.svg") no-repeat 16px 6px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__element:hover  .user-block__link--entry {
  background: #fff url("../img/entrance-white-hover.svg") no-repeat 16px 6px;
  color: #000;
}

.user-block__entry {
  display: none;
  position: absolute;
  top: 33px;
  left: -185px;
  width: 278px;
  padding-top: 5px;
  background-color: transparent;
  z-index: 3;
}

.user-block__link--entry:hover + .user-block__entry {
  display: block;
}

.user-block__entry:hover {
  display: block;
}

.user-block__entry-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__entry-form .user-block__wrapper {
  position: relative;
  padding: 20px;
}

input[name="email"],
input[name="password"] {
  display: block;
  width: 220px;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid #d3d3d2;
}

.user-block__entry-form .user-block__wrapper:nth-child(1) {
  padding-bottom: 0;
}

.entry-btn {
  margin: 0 0 20px 20px;
  border-radius: 25px;
  color: #fff;
  background: #ef6240;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.signin-link,
.password-link {
  display: block;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.entry-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px 20px;
}

.user-block__link--basket {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 117px;
  padding: 8px 14px;
  padding-left: 45px;
  border-radius: 15px;
  background: url("../img/basket.svg") no-repeat 16px 6px;
  background-color: rgba(255, 255, 255, 0.2);

  text-align: left;
}

.user-block__element:hover .user-block__link--basket {
  background: #fff url("../img/basket-hover.svg") no-repeat 16px 6px;
  color: #000;
}

.basket {
  display: none;
  position: absolute;
  top: 33px;
  left: -420px;
  width: 540px;
  padding-top: 5px;
  background-color: transparent;
  z-index: 4;
}

.basket-form {
  background-color: #f8f7f4;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket__close-btn {
  background-color: #f8f7f4;
  border: none;
}

.user-block__link--basket:hover + .basket {
  display: block;
}

.basket:hover {
  display: block;
}

.basket__table {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #323232;
  width: 510px;
  padding-bottom: 18px;
  border-bottom: 2px solid #d3d3d2;
}

.basket__link-text {
  width: 230px;
}

.basket__link-img a {
  width: 33px;
  height: 33px;
}

.basket__text {
    color: #323232;
}

.basket__table span {
  color: #999999;
}

.basket__total {
  display: block;
  margin: 15px 0 0 378px;
}

.basket__btn {
  display: inline-block;
  margin: 15px 0 0 307px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.main__info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 175px;
}

.main-timetable__text {
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 14px;
}

.main-timetable__tel {
  color: #fff;
  font-size: 22px;
  line-height: 29px;
}

.user-block__link--full-basket {
  border-radius: 15px;
  background: url("../img/basket-red.svg") no-repeat 16px 6px;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__element:hover .user-block__link--full-basket {
  color: #000;
  background-color:  #fff;
}

.user-block__link--full-basket:hover + .basket {
  display: block;
}

.basket:hover {
  display: block;
}

.slider {
  position: relative;
  padding-top: 273px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide__title {
  display: block;
  width: 670px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slide__btn {
  display: inline-block;
  vertical-align: top;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  padding: 10px 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
}

.slider-control label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide {
 display: none;
}

#radio-1:checked ~ .site-wrapper #slide--1,
#radio-2:checked ~ .site-wrapper #slide--2,
#radio-3:checked ~ .site-wrapper #slide--3 {
  display: block;
}

#radio-1:checked ~ .site-wrapper label[for="radio-1"],
#radio-2:checked ~ .site-wrapper label[for="radio-2"],
#radio-3:checked ~ .site-wrapper label[for="radio-3"] {
  background-color: #ffffff;
}

#radio-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide--1.png");
}

#radio-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide--2.png");
}

#radio-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide--3.png");
}

.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.banner {
  width: 560px;
  height: 229px;
  border-radius: 15px;
  padding: 17px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner__title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 13px;
}

.banner__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.banner__btn {
  display: inline-block;
  margin: 45px 3px 0 0;
  float: right;
  border-radius: 30px;
  color: #fff;
  background: #ef6240;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.banner--raspberry {
  background: #ae1d40 url("../img/bg-raspberry.jpg") no-repeat 50% 50%;
}

.banner--chocolate {
  background: #3a1d13 url("../img/bg-chocolate.jpg") no-repeat 50% 50%;
}

.goods-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
}

.goods-catalog {
  margin-bottom: 45px;
}

.good {
  position: relative;
  text-align: center;
  width: 293px;
  height: 402px;
  margin-bottom: -40px;
}

.good:nth-child(4n) {
  margin-right: -13px;
}

.good:nth-child(4n+1) {
  margin-left: -13px;
}

.good__img {
  margin-top: 4px;
}

.good-hit::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url("../img/hit.svg") no-repeat;
  left: 13px;
  top: 5px;
}

.good__price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 168px;
  left: 12px;
}

.good__price span {
  font-size: 30px;
  line-height: 45px;
}

.good__title {
  text-align: center;
  margin: 0;
  padding: 7px 17px;
}

.good__title a {
 font-size: 16px;
 line-height: 24px;
 color: inherit;
 font-weight: 500;
 border-bottom: 1px solid rgba(230, 230, 235, .4);
 }

.good__btn  {
  display: none;
  position: absolute;
  top: 340px;
  left: 43px;
  border-radius: 30px;
  color: #fff;
  background: #ef6240;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.good__hover:hover {
  display: block;
  position: absolute;
  height: 406px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.good__hover:hover .good__btn {
  display: block;
}

.shop-description {
  margin-bottom: 40px;
  height: 306px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;;
  border-radius: 15px;
  background: #ded1b5 url("../img/bg-waffle.jpg") 50% 50%;
  padding: 25px 20px;
}

.shop-description__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.shop-description__list {
  padding: 0;
}

.shop-description__text {
  display: inline-block;
  vertical-align: top;
  width: 485px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding: 20px 0 3px 57px;
}

.shop-description__text:nth-child(odd) {
  margin-right: 18px;
}

.shop-description__text--ice-cream {
  background: url("../img/ice-cream.svg") no-repeat 0 7px;
}

.shop-description__text--cow {
  background: url("../img/cow.svg") no-repeat 0 7px;
}

.shop-description__text--eco {
  background: url("../img/eco.svg") no-repeat 0 7px;
}

.shop-description__text--temperature {
  background: url("../img/thermometer.svg") no-repeat 0 7px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog {
  width: 560px;
  height: 220px;
  padding: 24px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  background: #fff url("../img/bg-blog.png") no-repeat;
}

.blog__text {
  margin: 0;
  line-height: 22px;
  font-weight: 500;
  color: #000;
  margin-bottom: 3px;
}

.blog__title {
    margin: 0;
}

.blog__title a {
  display: inline-block;
  width: 290px;
  font-size: 24px;
  color: #000;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}

.newsletter {
  width: 550px;
  border-radius: 15px;
  padding: 5px;
  background: #fff url("../img/bg-post.svg") no-repeat;
}

.newsletter div {
  position: relative;
  min-height: 210px;
  padding: 28px 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  color: #5a5a5a;
  background: #f8f7f4;
}

.newsletter__text {
  color: #5a5a5a;
  line-height: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
}

.newsletter__email {
  width: 345px;
  resize: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #d3d3d2;
  margin-right: 7px;
}

input[name="button"] {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 19px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.contacts {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 18px;
  height: 430px;
  background:  url("../img/map.jpg") no-repeat;
}

.contacts iframe {
  border: 0;
  width: 1200px;
  height: 430px;
}

.address {
  position: absolute;
  content: '';
  width: 250px;
  top: 62px;
  right: 27px;
  background-color: #fff;
  color: #000;
  padding: 29px 26px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.address__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.address__text:nth-child(2) {
  width: 155px;
}

.address__text:nth-child(4) {
  margin-bottom: 4px;
}

.address__street {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 17px;
}

.address__phone {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.address__btn {
  display: inline-block;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 26px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
  margin-top: 26px;
}

.main-footer {
  padding-bottom: 25px;
}

.footer-wrapper-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
}

.footer-social__link {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-decoration: none;
  border: 3px rgba(255, 255, 255, 0.2) solid;
  border-radius: 50%;
}

.footer-social__link:not(last-child) {
  margin-right: 9px;
}

.footer-social__link--tw {
  background: url("../img/twitter.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--inst {
  background: url("../img/instagram.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--fb {
  background: url("../img/fb.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--vk {
  background: url("../img/vk.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--tw:hover,
.footer-social__link--inst:hover,
.footer-social__link--fb:hover,
.footer-social__link--vk:hover {
  opacity: 1;
}

.footer-social__link--tw:active,
.footer-social__link--inst:active,
.footer-social__link--fb:active,
.footer-social__link--vk:active {
  opacity: 0.8;
}

.footer-info {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 6px;
}

.footer-info__item {
  padding: 0 8px 0 22px;
  min-width: 112px;
  margin-top: 4px;
}

.footer-info__item--heart {
  background: url("../img/heart.svg") no-repeat 0 3px;
}

.footer-info__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.footer-info__link:first-child {
  font-weight: 700;
}

.footer-info__item:nth-child(1) .footer-info__link {
  font-size: 13px;
}

.footer-info__item:nth-child(-n+4) .footer-info__link {
  font-size: 13px;
  font-weight: 400;
}

.footer-author {
  width: 190px;
}

.footer-author__text {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.footer-author__link {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f8f7f4;
  color: #000;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 7;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feedback-show {
  display: block;
  -webkit-animation-name: fly;
          animation-name: fly;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

@-webkit-keyframes fly {
  0% {-webkit-transform: translate(-50%, -1000px);transform: translate(-50%, -1000px);}
  70% {-webkit-transform: translate(-50%, -170px);transform: translate(-50%, -170px);}
  90% {-webkit-transform: translate(-50%, -240px);transform: translate(-50%, -240px);}
  95% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
  100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
}

@keyframes fly {
  0% {-webkit-transform: translate(-50%, -1000px);transform: translate(-50%, -1000px);}
  70% {-webkit-transform: translate(-50%, -170px);transform: translate(-50%, -170px);}
  90% {-webkit-transform: translate(-50%, -240px);transform: translate(-50%, -240px);}
  95% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
  100% {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
}

.feedback-error {
  -webkit-animation-name: error ;
          animation-name: error ;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

@-webkit-keyframes error  {
  0%                      {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate(-48%, -50%);transform: translate(-48%, -50%);}
  20%, 40%, 60%, 80%      {-webkit-transform: translate(-52%, -50%);transform: translate(-52%, -50%);}
  100%                    {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
}

@keyframes error  {
  0%                      {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate(-48%, -50%);transform: translate(-48%, -50%);}
  20%, 40%, 60%, 80%      {-webkit-transform: translate(-52%, -50%);transform: translate(-52%, -50%);}
  100%                    {-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
}

.feedback__wrapper {
  position: relative;
  padding: 25px 0 0 25px;
}

.feedback__name,
.feedback__email {
  display: block;
  resize: none;
  width: 245px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
  padding: 6px 10px;
  border: 2px solid #d3d3d2;
}

.feedback__text {
  display: block;
  margin: 0 25px 20px 0;
  resize: none;
  width: 418px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

.feedback__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f8f7f4;
  border: none;
}

.feedback-title {
  margin: 0;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
}

.field-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 33px;
  left: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #999;
  -webkit-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.field:hover {
  border-color: #c7c6c5;
}

.field:focus + .field-label {
  top: 4px;
  font-size: 11px;
  line-height: 13px;
  color: #8fbdec;
  border-color: #8fbdec;
}

.field.filled + .field-label {
  top: 4px;
  font-size: 11px;
  line-height: 13px;
  color: #999;
}

.feedback .field-label,
.feedback .field-email {
  padding-left: 10px;
}

.feedback__submit {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 25px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  -webkit-box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
          box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
  margin: 0 25px 30px 313px;
}


/*PAGE catalog.html*/

.navigation__btn--catalog {
  color: #fff;
  background-color: #d07058;
  border-radius: 20px;
}

.navigation__btn.navigation__btn--catalog::after {
  display: none;
}

.breadcrumbs__list {
  width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.breadcrumbs__item {
  padding-right: 6px;
  line-height: 24px;
}

.breadcrumbs__link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.catalog-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.filter__title {
  margin: 6px 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sort__list {
    border-radius: 20px;
    background: transparent;
    height: 36px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    -webkit-appearance: none;
    width: 200px;
    padding: 5px 5px 5px 15px;
   }

.filter-sort__list option {
  color: #000;
}

 .filter__select-wrap {
   border-radius: 20px;
   overflow: hidden;
   height: 36px;
   background: rgba(255, 255, 255, 0.2) url("../img/select-arrow.svg") no-repeat 92%;
   width: 193px;
  }

.filter-sort__list:hover {
  color: #000;
  background: #fff url("../img/select-arrow-hover.svg") no-repeat 89%;
}

.filter-richness__wrap,
.filter-filler__wrap {
  padding: 9px 10px;
  border-radius: 20px;
  margin-right: 2px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-richness__radio,
.filter-filler__checkbox {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 10px;
  padding-left: 25px;
  opacity: 0.8;
  cursor: pointer;
}

.filter-filler__checkbox {
  margin-right: 14px;
}

.filter-richness__radio-indicator::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px #fff solid;
}

input[name="percent"]:checked + .filter-richness__radio .filter-richness__radio-indicator:after {
  position: absolute;
  content: "";
  left: -2px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
}

.filter-richness__radio-indicator:hover::before,
.filter-richness__radio-indicator:hover::after,
.filter-filler__checkbox-indicator:hover::before,
.filter-filler__checkbox-indicator:hover::after {
  opacity: 1;
}

.filter-richness__radio-indicator:active::before,
.filter-richness__radio-indicator:active::after,
.filter-filler__checkbox-indicator:active::before,
.filter-filler__checkbox-indicator:active::after  {
  opacity: 0.6;
}

.filter-filler__checkbox-indicator::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -8px;
  width: 23px;
  height: 23px;
  background-color: inherit;
  background-image: url("../img/checkbox-off.svg");
}

input[name="filler"]:checked + .filter-filler__checkbox .filter-filler__checkbox-indicator:before {
  position: absolute;
  content: "";
  left: -8px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-color: inherit;
  background-image: url("../img/checkbox-on.svg");
}

.filter-range__control {
  position: relative;
  padding: 16px 22px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-range__scale {
  background-color: #fff;
  width: 176px;
  height: 4px;
}

.toggle-min,
.toggle-max {
  position: absolute;
  top: 9px;
  left: 35px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background-color: #ababab;
  border-radius: 50%;
}

.toggle-max {
  left: 133px;
}

.filter-richness,
.filter-filler {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__sort,
.filter-range,
.filter-richness,
.filter-filler,
.filter-richness__item,
.filter-filler__item {
  display: inline-block;
}

.filter__sort,
.filter-range,
.filter-richness {
  margin: 0 15px 15px 0;
}

.filter-filler {
  margin: 0 7px 17px 0;
}

.filter-btn {
  padding: 7px 26px;
  font-weight: 500;
  background-color: #a9bab0;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
}

.filter-btn:hover {
  background-color: #fbfcfb;
  border-color: #fbfcfb;
  color: #000;
}

.filter-btn:active {
  background-color: #eaeaea;
  border-color: #fbfcfb;
  color: #000;
  -webkit-box-shadow: inset 0 2px 1px #696969;
          box-shadow: inset 0 2px 1px #696969;
}

.pagination {
  text-align: right;
  padding-bottom: 30px;
  border-bottom: 2px #a9bbb1 solid;
  margin-bottom: 18px;
}

.pagination__list li {
  display: inline-block;
  position: relative;
}

.pagination__link {
  display: inline-block;
  width: 15px;
  height: 20px;
  font-weight: 500;
  padding: 5px 5px 1px 4px;
  background-color: #849d8f;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  vertical-align: top;
}

.pagination-left::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 17px;
  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.pagination-right::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 17px;
  background: url("../img/icon-right-small.svg") no-repeat 3px 3px;
}

.pagination__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.pagination__link:active {
  background-color: #fff;
  color: #000;
}

.pagination__link--current-page,
.pagination__link--current-page:hover {
  background-color: #fff;
  color: #000;
}

.pagination__link--current-page:active {
  color: #fff;
  background-color: #849d8f;
}

.pagination-left {
   -webkit-transform:rotate(180deg);
       -ms-transform:rotate(180deg);
           transform:rotate(180deg);
}

.pagination__link--from,
.pagination__link--to {
  background-color: inherit;
  color: #fff;
}

.pagination__link--from:hover,
.pagination__link--to:hover {
  background-color: inherit;
  color: rgba(255, 255, 255, 0.2);
}

.pagination__link--from:active,
.pagination__link--to:active {
  background-color: inherit;
  color: #fff;
}
