html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  background-color: #87a092;
  background-position: top center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.entry-btn:hover,
.basket__btn:hover,
.slide__btn:hover,
.banner__btn:hover,
.good__btn:hover,
.newsletter__btn:hover,
.address__btn:hover,
.feedback__submit:hover {
  background-color: #f48468;
}

.entry-btn:active,
.basket__btn:active,
.slide__btn:active,
.banner__btn:active,
.good__btn:active,
.newsletter__btn:active,
.address__btn:active,
.feedback__submit:active {
  background-color: #d84833;
}

.user-block__entry a:hover,
.user-block__entry a:active,
.blog__title a:hover,
.blog__title a:active,
.basket__text:hover,
.basket__text:active {
  color: #e84d37;
  border-bottom:  1px #e84d37 solid;
}

.good__title a:hover,
.good__title a:active,
.footer-info__link:hover,
.footer-info__link:active,
.main-timetable__tel:hover,
.main-timetable__tel:active,
.footer-info__link:hover,
.footer-info__link:active,
.footer-author__link:hover,
.footer-author__link:active {
  color: #ffbc9e;
}


/*PAGE index.html*/

.main-logo {
  display: inline-block;
  width: 154px;
}

.main-header__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.navigation {
  width: 715px;
}

.navigation__item {
  position: relative;
  display: inline-block;
  vertical-align: top;

}

.navigation__btn {
  display: inline-block;
  padding: 7px 13px;
  border: none;
  font-weight: inherit;
  background-color: #87a092;
  color: #fff;
}

/*.navigation__btn::before {
  position: absolute;
  content: '';
  width: 150px;
  top: 30px;
  left: -10px;
  height: 40px;
  background-color: red;
}*/

.navigation__link {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 7px 13px;
}

.navigation__btn::after,
.navigation__link::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation__link:hover,
.navigation__btn:hover {
  background-color: #fff;
  padding: 7px 13px;
  border: none;
  color: #000;
  border-radius: 20px;
}

.navigation__link:active,
.navigation__btn:active {
  background-color: #fff;
  padding: 7px 13px;
  border: none;
  color: #000;
  border-radius: 20px;
  box-shadow: inset 0 2px 1px #696969;
}

.menu {
  position: absolute;
  content: '';
  top: 40px;
  left: 3px;
  display: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navigation__btn:hover + .menu {
  display: block;
}

.menu:hover {
  display: block;
}

.menu__item {
  padding: 10px 20px;
}

.menu__link {
  color: #000;
  font-weight: 400;
  white-space: nowrap;
}

.menu__item:hover {
  background-color: #fbded7;
}

.menu__item:active {
  background-color: #f6b5a5;
}

.menu__item:first-child:hover,
.menu__item:first-child:active {
  border-radius: 5px 5px 0 0;
}

.menu__item:last-child:hover,
.menu__item:last-child:active {
  border-radius:  0 0 5px 5px;
}

.menu__item:active {
  background-color: #ead8d2;
}

.menu__item:nth-child(1) {
  position: relative;
}

.menu__item:nth-child(1)::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 90%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(50, 50, 50, 0.2);
}

.menu__item:nth-child(1) .menu__link {
  font-weight: inherit;
}

.user-block {
  width: 269px;
}

.user-block__element {
  position: relative;
  display: inline-block;
}

.user-block__element:not(:last-child) {
    margin-right: 10px;
}

.user-block__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
}

.user-block__link:hover{
  background-color: #fff;
  color: #000;
}

.user-block__link--entry,
.user-block__link--empty-basket,
.user-block__link--full-basket {
  padding-left: 45px;
}

.user-block__search {
  position: absolute;
  top: 37px;
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__search .user-block__wrapper {
  position: relative;
  padding: 20px 15px;
}

input[name="search"] {
  display: block;
  width: 285px;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid #d3d3d2;
}

.field-label {
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
  transition: top 0.5s ease;
}

.field:hover {
  border-color: #c7c6c5;
}

.field:focus + .field-label {
  top: 4px;
  font-size: 11px;
  line-height: 13px;
  color: #8fbdec;
  border-color: #8fbdec;
}

.field.filled + .field-label {
  top: 4px;
  font-size: 11px;
  line-height: 13px;
  color: #999;
}

.user-block__link--search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../img/loupe.svg") no-repeat 50% 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__link--search:hover {
  background: #fff url("../img/loupe-hover.svg") no-repeat 50% 50%;
}

.user-block__link--entry {
  width: 92px;
  height: 32px;
  border-radius: 15px;
  background: url("../img/entrance-white.svg") no-repeat 16% 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__link--entry:hover {
  background: #fff url("../img/entrance-white-hover.svg") no-repeat 16% 50%;
}

.user-block__entry {
  display: none;
  position: absolute;
  top: 37px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-block__entry .user-block__wrapper {
  position: relative;
  padding: 20px;
}

input[name="email"],
input[name="password"] {
  display: block;
  width: 220px;
  resize: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border: 2px solid #d3d3d2;
}

.user-block__entry .user-block__wrapper:nth-child(1) {
  padding-bottom: 0;
}

.entry-btn {
  margin-left: 20px;
  border-radius: 25px;
  color: #fff;
  background: #ef6240;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.user-block__entry a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.user-block__link--empty-basket {
  width: 117px;
  height: 32px;
  border-radius: 15px;
  background: url("../img/basket.svg") no-repeat 20% 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-block__link--empty-basket:hover {
  background: #fff url("../img/basket-hover.svg") no-repeat 15% 50%;
}

.basket {
  display: none;
  position: absolute;
  top: 37px;
  background-color: #f8f7f4;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket__close-btn {
  background-color: #f8f7f4;
  border: none;
}

.basket__table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  width: 510px;
  padding-bottom: 18px;
  border-bottom: 2px solid #d3d3d2;
}

.basket__text {
    color: #323232;
}

.basket__table span {
  color: #999999;
}

.basket__total {
  display: block;
  margin: 15px 0;
}

.basket__btn {
  display: inline-block;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.main-timetable {
  text-align: right;
}

.main-timetable__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.main-timetable__tel {
  color: #fff;
  font-size: 22px;
  line-height: 34px;
}

.user-block__link--full-basket {
  width: 117px;
  height: 30px;
  border-radius: 15px;
  background: #fff url("../img/basket-red.svg") no-repeat 15% 50%;
  color: #000;
}

.slide--1 {
  width: 1045px;
  height: 881px;
  background: #87a092 url("../img/slide--1.png") no-repeat 50% 50%;
}

.slide--2 {
  width: 1045px;
  height: 881px;
  background: #948e94 url("../img/slide--2.png") no-repeat 50% 50%;
}

.slide--3 {
  width: 1045px;
  height: 881px;
  background: #b19886 url("../img/slide--3.png") no-repeat 50% 50%;
}

.slide__title {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.slide__btn {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 15px 40px;
  font-size: 32px;
  line-height: 44px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.banners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.banner {
  width: 560px;
  height: 229px;
  border-radius: 15px;
}

.banner__title {
  margin: 0;
  padding: 20px;
  font-size: 35px;
  line-height: 41px;
}

.banner__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0 20px;
}

.banner__btn {
  display: inline-block;
  margin: 20px;
  border-radius: 30px;
  color: #fff;
  background: #ef6240;
  padding: 15px 22px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.banner--raspberry {
  background: #ae1d40 url("../img/bg-raspberry.jpg") no-repeat 50% 50%;
}

.banner--chocolate {
  background: #3a1d13 url("../img/bg-chocolate.jpg") no-repeat 50% 50%;
}

.good {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 267px;
  margin-bottom: 40px;
}

.good {
  margin-right: 22px;
}

.good:nth-child(4n) {
  margin-right: 0;
}

.good-hit::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url("../img/hit.svg") no-repeat;
  left: 0;
}

.good__price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 145px;
}

.good__price span {
  font-size: 30px;
  line-height: 45px;
}

.good__title {
  text-align: center;
}

.good__title a {
 font-size: 16px;
 line-height: 22px;
 color: inherit;
 font-weight: 500;
 border-bottom: 1px solid rgba(230, 230, 235, .4);
 }

.good__btn {
  display: none;
}

.good__btn  {
  border-radius: 30px;
  color: #fff;
  background: #ef6240;
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.good__hover:hover {
  display: block;
  position: absolute;
  height: 440px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.good__hover:hover .good__btn {
  display: block;
}

.shop-description {
  margin-bottom: 40px;
  height: 310px;
  color: #323232;;
  border-radius: 15px;
  background: #ded1b5 url("../img/bg-waffle.jpg") 50% 50%;
}

.shop-description__title {
  margin: 0;
  padding-left: 20px;
  padding-top: 30px;
  font-size: 24px;
  font-weight: 500;
}

.shop-description__list {
  padding: 0;
  margin: 10px 20px 20px 20px;
}

.shop-description__text {
  display: inline-block;
  width: 485px;
  font-weight: normal;
  padding-left: 60px;
  padding-top: 15px;
  line-height: 22px;
}

.shop-description__text--ice-cream {
  background: url("../img/ice-cream.svg") no-repeat 0 0;
}

.shop-description__text--cow {
  background: url("../img/cow.svg") no-repeat 0 0;
}

.shop-description__text--eco {
  background: url("../img/eco.svg") no-repeat 0 0;
}

.shop-description__text--temperature {
  background: url("../img/thermometer.svg") no-repeat 0 0;
}

.news {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.blog {
  width: 560px;
  height: 220px;
  margin-right: 25px;
  border-radius: 15px;
  background: #fff url("../img/bg-blog.png") no-repeat;
}

.blog__text {
  line-height: 22px;
  font-weight: 500;
  color: #000;
  padding: 0 20px;
}

.blog__title a {
  display: inline-block;
  width: 290px;
  font-size: 24px;
  color: #000;
  line-height: 30px;
  padding: 0 20px;
  text-align: left;
  margin: 0;
  text-decoration: underline;
}

.newsletter {
  width: 550px;
  border-radius: 15px;
  padding: 5px;
  background: #fff url("../img/bg-post.svg") no-repeat;
}

.newsletter div {
  position: relative;
  min-height: 210px;
  padding: 28px 20px 24px;
  box-sizing: border-box;
  border-radius: 15px;
  color: #5a5a5a;
  background: #f8f7f4;
}

.newsletter__text {
  color: #5a5a5a;
  line-height: 22px;
  font-weight: 400;
  margin-top: 0;
}

.newsletter__email {
  width: 325px;
  resize: none;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #d3d3d2;
  margin-right: 10px;
}

input[name="button"],
.feedback__submit {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.contacts {
  position: relative;
  margin-bottom: 20px;
  height: 430px;
  background:  url("../img/map.jpg") no-repeat;
}

.address {
  position: absolute;
  content: '';
  width: 250px;
  top: 40px;
  right: 20px;
  background-color: #fff;
  color: #000;
  padding: 25px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.address__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
}

.address__btn {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  background: #ef6240;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  font-weight: inherit;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.46);
}

.main-footer {
  margin-bottom: 25px;
}

.footer-wrapper-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  width: 255px;
}

.footer-social__link {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  font-size: 18px;
  text-decoration: none;
  border: 3px #9cb0a4 solid;
  border-radius: 50%;
}

.footer-social__link:not(last-child) {
  margin-right: 10px;
}

.footer-social__link--tw {
  background: url("../img/twitter.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--inst {
  background: url("../img/instagram.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--fb {
  background: url("../img/fb.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--vk {
  background: url("../img/vk.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.footer-social__link--tw:hover,
.footer-social__link--inst:hover,
.footer-social__link--fb:hover,
.footer-social__link--vk:hover {
  opacity: 1;
}

.footer-social__link--tw:active,
.footer-social__link--inst:active,
.footer-social__link--fb:active,
.footer-social__link--vk:active {
  opacity: 0.8;
}

.footer-info {
  margin: 0 auto;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-info__item {
  margin-right: auto;
  padding-left: 25px;
}

.footer-info__item--heart {
  background: url("../img/heart.svg") no-repeat 2% 13%;
}

.footer-info__item a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px #8ca396 solid;
}

.footer-info__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-info__item:nth-child(1) .footer-info__link {
  font-size: 13px;
}

.footer-info__item:nth-child(-n+4) .footer-info__link {
  font-size: 13;
  font-weight: 400;
}

.footer-author {
  width: 190px;
}

.footer-author__text {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.footer-author__link {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px #8ca396 solid;
}


.feedback {
  position: absolute;
  top: 60%;
  left: 30%;
  background-color: #f8f7f4;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.feedback__wrapper {
  position: relative;
  padding: 20px 0 0 25px;
}

.feedback__name,
.feedback__email {
  display: block;
  resize: none;
  width: 255px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #d3d3d2;
}

.feedback__text {
  display: block;
  margin: 0 25px 20px 0;
  resize: none;
  width: 410px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

.feedback__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f8f7f4;
  border: none;
}

.feedback-title {
  margin-bottom: 0;
  margin-left: 25px;
}

.feedback .field-label,
.feedback .field-email {
  padding-left: 10px;
}


/*PAGE catalog.html*/

.navigation__btn--catalog {
  color: #fff;
  background-color: #d07058;
  border-radius: 20px;
}

.navigation__btn.navigation__btn--catalog::after {
  display: none;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
}

.breadcrumbs__item {
  padding-right: 10px;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;

}

.filters {
  width: 880px;
  margin-bottom: 40px;
}

.filter__title {
  margin: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sort__list option,
.filter-richness__radio,
.filter-filler__checkbox {

}

.filter-sort__list,
.filter-range__control,
.filter-richness__wrap,
.filter-filler__wrap {
  padding: 5px;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-range__control {
  position: relative;
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-range__scale {
  background-color: #fff;
  width: 180px;
  height: 4px;
}

.toggle-min,
.toggle-max {
position: absolute;
top: 5px;
left: 40px;
width: 4px;
height: 4px;
border: 10px solid white;
background-color: #ababab;
border-radius: 50%;
}

.toggle-max {
left: 150px;
}


.filter-richness,
.filter-filler {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__sort,
.filter-range,
.filter-richness,
.filter-filler,
.filter-richness__item,
.filter-filler__item {
  display: inline-block;
  margin-right: 15px;
}

.filter-btn {
  padding: 5px 26px 5px 28px;
  font-weight: 500;
  background-color: #a9bab0;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
}

.filter-btn:hover {
  background-color: #fbfcfb;
  border-color: #fbfcfb;
  color: #000;
}

.filter-btn:active {
  background-color: #eaeaea;
  border-color: #fbfcfb;
  color: #000;
  box-shadow: inset 0 2px 1px #696969;
}

.pagination {
  text-align: right;
  margin: 30px 0;
}

.pagination__list li {
  display: inline-block;
  vertical-align: middle;

}

.pagination__link {
  display: inline-block;
  width: 17px;
  height: 22px;
  font-weight: 500;
  margin-right: 1px;
  margin-left: 1px;
  padding: 5px 5px 0;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  text-align: center;
  vertical-align: top;
}

.pagination__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.pagination__link:active {
  background-color: #fff;
  color: #000;
}

.pagination__link--from,
.pagination__link--to {
  background-color: inherit;
  color: #fff;
}


.pagination__link--from:hover,
.pagination__link--to:hover {
  background-color: inherit;
  color: rgba(255, 255, 255, 0.2);
}

.pagination__link--from:active,
.pagination__link--to:active {
  background-color: inherit;
  color: #fff;
}
